page-lancar-valor {
    ion-content{
        text-align: center;
    }
    tbody{
        width: 100%;
        margin-bottom : .5em;
        table-layout: fixed;
        text-align: center;
        color: #FEB81C;
        font-size: 20px;
      }
      td, th {
        padding: .7em;
        margin: 0;
        /*border: 1px solid #ccc;*/
        text-align: center;
      }
      
      th{
        /*background-color: #EEE;*/
      }
      td{
        font-weight:bold;
        /*background-color: #EEE;*/
      }
      [text-color="color"] {
        color: #FEB81C;
    }
}
